<div class="jumbotron">
	<h1>This is your own unique <b>to-do</b> list</h1>
	<p>Feel free to add, edit, delete, and move around any To-Do items you may contain</p>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-success" %>
</div>